---
layout: page
description: "<Strong>Student Association of Science &amp; Technology</strong><br>Department of Chemistry, THU"
---


<!--add from sci-lib start-->
<div>
	<form class="form-wrapper cf" action="http://scholar.scilib.org/" target="_blank">
        <input type="text" placeholder="Reference Resolver" required name="q">
        <button type="submit">Search</button>
	</form> 
   <p id="BlankLine" align="center" style="font-size:11px; color:#666666; margin-top:-10px;">Provided by <a href="http://www.scilib.org"> scilib.org </a></p>
</div>
   
   <div>
   	<br>
   </div>

<div class="post-preview">
{% for post in paginator.posts %}
	{% if post.hide != 1 %}
    	{% if post.stick == 1 %}
     <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            【置顶】 {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
        	{% if post.abstract %}
            {{ post.abstract }}
            {% else %}
            {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
    	{% endif %}
    {% endif %}
{% endfor %}
    
    
{% for post in paginator.posts %}
	{% if post.hide != 1 %}
    {% if post.stick != 1 %}
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.abstract %}
            {{ post.abstract }}
            {% else %}
            {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
    	{% if post.resource != 1 %}
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
        {% else %}
        Posted on {{ post.date | date: "%B %-d, %Y" }}
        {% endif %}
    </p>
    {% endif %}
    {% endif %}  
{% endfor %}
</div>
<hr>


<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
