---
layout: page
title: "Resources"
description: "Softwares, Books and More" 
header-img: "img/resources-bg.jpg"
---


    <div><h1 align="center" style="margin:50px"> Continiously Uploading ... </h1></div>

                <hr>
                <h2>SOFTWARES<h5>请联系我们获得压缩文件解压密码<br></h5></h2>
                <ul class="list-inline">
                </ul>
                
	<div class="post-preview">
{% for post in site.posts %}
{% if post.resource == 1 %}
    <a href="{{ post.url | prepend: site.baseurl }}#download">
        <h3 class="post-title">
            <br>
            {% if post.resource-name %}
            {{ post.resource-name }}
            {% else %}
            {{ post.title }}
            {% endif %}
    </a>
			&nbsp;&nbsp;&nbsp;
        {% for platform in post.platform %}
        {% if platform == "win" %}
            <img src="../img/win.png" height="25px">
            &nbsp;
        {% endif %}

        {% if platform == "lnx" %}
            <img src="../img/lnx.png" height="25px">
            &nbsp;
        {% endif %}
        
        {% if platform == "mac" %}
            <img src="../img/mac.png" height="25px">
            &nbsp;
        {% endif %}
        
        {% if platform == "source" %}
            <img src="../img/sourcecode.png" height="25px">
            &nbsp;
        {% endif %}
        {% endfor %}
        </h3>
        
            {% endif %}
{% endfor %}

<!-- Books which we recommend will put here -->

</div>
<hr>


