---
layout: page
title: "Resources"
description: "Softwares, Books and More" 
header-img: "img/resources-bg.jpg"
---


    <div><h1 align="center" style="margin:50px"> Continiously Uploading ... </h1></div>

                {% if site.software %}
                <hr>
                <h4>SOFTWARES<h5>压缩文件解压密码：██████（刮开即可看到）</h5></h4>
                <ul class="list-inline">
                    {% for software in site.software %}
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{software.href-in}}">{{software.title}}</a>{% if software.code %}&nbsp;&nbsp;(<a  href="{{software.href}}">{{software.code}}){% endif %}</li>
                    {% endfor %}
                </ul>
                {% endif %}
